/* Скидання стилів браузера */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

ul, ol {
	margin:0;
	padding: 0;
    list-style-type:none;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

/* Основний контент сторінки */
body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
} 

.web-page{
    max-width: 1440px;
    margin: 0 auto;
}

.container { 
    max-width: 1440px;
    padding-left:0;  
    padding-right:0;  
    margin-left:0;  
    margin-right: auto;  
}

/* Стилі для header сторінки*/
.container-header{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.top-line{
    display: flex;
    border-bottom: 1px solid #e7e9fc
}

.top-line-nav{
    display: flex;
    align-items: center;
}

.menu-logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 24px;
    margin-right: 76px; 
}

.menu-logo span{
    color: #2E2F42;
}

.main-meny{
    display: flex;
    gap: 40px;
    margin-left: 76px;
    margin-top: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.main-meny-link{
    text-decoration: none;
    color: #2E2F42;
    padding: 24px 0; 
}

.main-meny-link:hover,
.main-meny-link:focus{
    color: #404BBF;
}

.contacts-meny{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    font-style: normal;
}

.contacts-meny-ul{
    display: flex;
    gap: 40px;
    margin-top: 24px;
    margin-left: 200px;
    
}

.address-link{
    text-decoration: none;
    color: #434455;
}

.address-link:hover,
.address-link:focus{
    color: #404BBF;
}

/* Стилі для головного контенту розділу hero image*/
.hero-image{
    margin-top: 24px;
    background-color: #2E2F42;
    height: 600px;
}

.hero-image-title {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    padding-top: 188px;
}

.hero-button{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor:pointer;
    width: 169px;
    height: 56px;
    margin-left: 636px;
    margin-top: 120px;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

/* Стилі для головного контенту розділу benefits*/
.benefits-section{
}

.benefits{
    display: flex;
    gap: 8px;
    height: 264px;
    margin-left: 156px;
    margin-top: 120px;
}

.benefits li{
    width: 264px;
}


.benefits-title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.benefits-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* Стилі для головного контенту розділу our-team*/
.our-team{
    background-color: #F4F4FD;
    height: 732px;
}

.our-team-title{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    padding-top: 100px;
}

.our-team-ul{
    display: flex;
    gap: 32px;
    margin-left: 156px;
    margin-top: 50px;
}

.our-team-teacher{
    background-color: #FFFFFF;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.our-team-teacher-title{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    padding-top: 24px;
}

.our-team-teacher-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Стилы роздылу portfolio*/
.portfolio-ul{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    margin-left: 156px;
}

.portfolio-ul li{
    border: 1px solid #E7E9FC;
}

.portfolio-li{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 420px;
}

.portfolio{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.portfolio-title{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    text-transform: capitalize;
    padding: 20px 16px 0 16px;
}

.portfolio-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    padding: 0 16px 0 16px;
}

/* Стилы роздылу footer*/
footer{
    background-color: #2E2F42;
    height: 312px;
       
}
.footer-logo{
    padding-top: 100px;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 156px;
     
}

.logo-footer-span{
    color: #F4F4FD;
}

.footer-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    margin-left: 156px;
}

.section{
    padding: 120px 0;
}